*{
    margin: 0;
}
body{
    background-color: rgb(59, 59, 59);
}
a{
    text-decoration: none;
}

/********* navbar *********/
.nav-item a{
    color: #fff;
}
.nav{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.nav-item{
    margin-left: 20px;
    list-style-type: none;
    float: left;
}
.nav-item img{
    height: 30px;
    border-radius: 50%;
}
/****************** body ****************/

.google{
    margin-top: 6%;
    margin-left: 40%;
}
.search{
    padding-left: 2.375rem;
    margin-top: 20px;
    margin-left: 29%;
}
.search-icon{
    position: absolute;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    margin-top: 6px;
}
.search-input{
    width: 500px;
    height: 35px;
    margin-top: 6px;
    border-radius: 50px;
    border: 1px solid rgb(124, 124, 124);
    padding-left: 2.375rem;
    background-color: transparent;
    color: #fff;
    font-size: 17px;
}
.buttons{
    margin-left: 38%;
    margin-top: 30px;
}
.search-button{
    padding: 7px 10px 7px 10px;
    font-size: 17px;
    margin-right: 5px;
    background-color: rgb(87, 87, 87);
    color: #fff;
    border: none;
    border-radius: 3px;
}
/****************** footer *****************/
footer{
    background-color: #171717;
    height: 113px;
    position: relative;
    top: 268px;
    right: 0;
}
.footer-text{
    padding: 15px 0 15px 40px;
    color: rgb(150, 150, 150);
}
.footer-list{
    border-top: 1px solid #3f3f3f;
}
.list-item{
    list-style-type: none;
    float: left;
    padding: 20px 20px 10px 0;
}
.list-item a{
    color: rgb(150, 150, 150);
}
.footer-text-center{
    display: inline-block;
    text-align: center;
    color: rgb(150, 150, 150);
    margin-left: 300px;
    padding: 20px 0 10px 0;
}
.footer-list2{
    margin-bottom: 100px;
    float: right;
}